<!DOCTYPE html>
<html>
<head>
    <title>Rocky 9 Kickstart</title>
</head>
<body>
    <h1>Available Kickstart</h1>
    <ul>
    {% for filename in cfg_file_list %}
        <li><a href="{{ filename }}">{{ filename }}</a></li>
    {% endfor %}
    </ul>
</body>
</html>